.imageUpload {
    display: flex;
    bottom: 0;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.imageUpload__progress {
    margin-top: 10px;
    width: 100%;
}

.upload__button {
    margin-top: 20px;
    height: 33px;
    font-weight: 700;
    background-color: darkred;
    color: #fff;
}